html {
  /*border: 10px solid blue;*/
  font-family: "Alegreya", serif;
  color: #fcf4e0;
}
:root{
  font-size:16px;
}


body {
  background-color: #333a49;
}
  #container{
    display: flex;
    flex-direction: column;
  }

p {
  font-size: 1.4rem;
}
/****layout****/

.hdr-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.8rem;
  background-color: transparent;
  order: -1;
  text-decoration: none;
  font-size: 1.4rem;
}

.hdr-nav li {
  display: flex;
  display: inline-flex;
  padding: .7rem;
}

#idx-atf {
  min-height: 100vh;
  display: flex;
  /*flex-direction: row;*/
  /*flex-wrap: nowrap;*/
  /*flex-flow: ro nowrap;*/
  justify-content: center;
  align-items: center;
  /*background*/
  background-color: #5b5b5b;
  background-image: url(grand-canyon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*background-origin: border-box;*/
  background-attachment: fixed;

}

#idx-atf>div {
  height: 90vh;
}

.idx-center-space {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 160px;
}
span {
  color: #5b698b;
  font-size: 4rem;
  font-weight: 600;
}

.intro {
  font-size: 4rem;
  text-align: center;
  padding: .7rem;
}

h2 {

  font-size: 2rem;
  text-align: center;
  padding: 1.4rem;
  margin-bottom: 1.8rem;

}

button:hover{
  background-color: #fcf4e0;
}

#cont-btn {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  font-weight: 700;
  border: 1px solid #fcf4e0;
  border-radius: 4px;
  padding: 1.2rem;
  margin-top: -0.625rem;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}
/****Project Section****/
#projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  padding:0.7rem;
}
.wk-cards{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(252, 244, 224);
  border-radius: 4px;
  width: 27%;

}
.top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bottom{
  width:100%;
  text-align: center;
  border-top: 1px solid rgb(252, 244, 224);
  margin-top: 1.6rem;
  padding: 1.7rem;

}
.card-label{
  font-size: 1.4rem;
  font-weight:300;
}


/*****About Section****/

.abt-img{
  border: 1px solid darkgrey;
  padding: 10px;
}
#abt-sec{
  display: flex;
  flex-direction: column;
  background-color: #333a49;
  justify-content: center;
  align-items: center;
  padding: 1.7rem;
}
/*to be placed in separate about page

blockquote{
  border: 1px dashed;
  padding: 5px;
  font-size: 1.4rem;
  text-align: center;
  flex: 1 1 100px;
}
*/
/*pseudoclasses*/

a:link {
  color: #ffcc99;
  text-decoration: none;
}

a:visited {
  color: #5b698b;
}

a:hover {
  color: #ffcc99;
}

a:active {
  color: #fcf4e0;
}

/****Footer****/
.footer {

  padding: 10px;
  background-color: inherit;
  }
.ftr-p{
font-size: 1rem;
text-align: center;
}
.ftr-nav{
  border-top: 1px solid #fcf4e0;
  text-align: center;
  font-size: 1.4rem;
  align-items: center;
  padding-top: 0.7rem;
}
footer li{
  margin: 0.5rem;
}

/*footer section
.f-nav a {
  padding: 10px;
  border: 1px solid white;
  border-radius: 50px;
  display: inline-block;
  text-decoration: none;
}
.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-flow: nowrap;
  justify-content: center;
  primary axis-column
  align-items: center;
  cross-axis-row
  background-color: rgba(0, 0, 0, .4);
  background-attachment: fixed;
  margin-top: 1.2rem;
}

.f ul {
  list-style: none;
  flex: 1;
}

.f-nav li {
  display: flex;
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  /*hover:background-color: #;
}
****/


/*******media queries******/

@media (min-width: 768px) {
  #idx-atf {
    background-image: url(grand-canyon.jpg);
  }
  #idx-atf>div {
    height: 18vh;
  }
  .intro {
    font-size: 3rem;
  }
}
