html {
  /*border: 10px solid blue;*/
  font-family: "Alegreya",serif;
  color: white;
}
body {
  /*border: 10px solid red;*/
}
/*layout*/
header{
  position: fixed;
  top:0;
  left:0;
  background-color: rgb(0,0,0,.6);
  width: 100%;
  height: 2.8rem;

}
header div header nav {
height: 200px;
width: 200px;
height: 80%;
margin: 0;
background-color: red;
}

#idx-atf {
  height: 100vh;
  display: flex;
  /*flex-direction: row;*/
  /*flex-wrap: nowrap;*/
  /*flex-flow: ro nowrap;*/
  justify-content: center;
  align-items: center;
  /*background*/
  background-color: #5b5b5b;
  background-image: url(grand-canyon.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  /*background-origin: border-box;*/
  background-attachment: fixed;

  }

  #idx-atf > div {
    height: 90vh;
  }
  .idx-center-space {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

  }
  span{
    color: darkgrey;
    font-size: 4rem;
    font-family: "Dancing Script", cursive;
  }

.intro  {
  font-size: 4rem;
  color:#d8dbde;
  text-align: center;
  padding: .7rem;
}
h2{
  font-size: 2rem;
  color:#d8dbde;
  text-align: center;
  padding: 1.4rem;
  margin-bottom: 1.8rem;
}

button {
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  border: 1px solid white;
  border-radius: 3px;
  margin: 1.7rem;
  padding: 1.7rem 2rem;
}
i {
  border: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 5px;
  margin: 10px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.work-section{
  display: flex;
  flex: 1;
  padding-bottom:  10px;

}
img{
  display: inline-block;
  border: 1px solid #666;
  background-color: #FFF;
  padding: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}
.work-section nth-of-type {
  margin-left: 20px;
}
/*****add card to the work section*****/
.work-section-one{
background-color: blue;/*test colors*/
border: 1px solid black;

}
.work-section-two{
background-color: yellow;/*test colors*/
border: 1px solid black;

}
.work-section-three{
background-color: red;/*test color*/
border: 1px solid black;
}
.wk-dply{
  background-color: white;
  color: red;
  text-align: center;
}
.f-nav a{
  padding: 10px;
  border: 1px solid white;
  border-radius: 50px;
  display: inline-block;
  text-decoration: none;
}
.abt-sec{
  display: flex;
  flex-direction:column;
  align-items: center;
  color: darkgrey;
}

.abt-img{

  border-radius: 100px;
  padding: 20px;

}
/*pseudoclasses*/
a:link{
  color: white;
  text-decoration: none;
}
a:visited {
  color: yellow;
}
a:hover {
  color: orange;
}

a:active {
  color:blue;
}
.footer {
  display: flex;

  flex-direction: column;
  /*flex-wrap: nowrap;*/
  /*flex-flow: nowrap*/
  justify-content: center;/*primary axis-column*/
  align-items: center;/*cross-axis-row*/
  background-color: black;
  background-attachment: fixed;
  margin-top: 1.2rem;

}
.f ul{
  list-style: none;
  flex: 1;
}

.f-nav li {
  display: flex;
  display: inline-flex;
  text-decoration: none;
  align-items: center;

  /*hover:background-color: #;*/
}
/*******media queries******/
@media only screen and (min-width: 800px) {


#idx-atf {
  background-image: url(grand-canyon.jpg);
}
#idx-atf > div{
  height: 18vh;
}
.intro {
  font-size: 3rem;
}
}
